<% layout("/layouts/boilerplate") %>
<div class="container mt-4">

  <div class="filters-wrapper">
  <button class="scroll-btn left-btn d-none d-md-flex">&laquo;</button>
  <div class="filters-scroll">
    <div class="filter"><i class="fa-solid fa-fire"></i><p>Trending</p></div>
    <div class="filter"><i class="fa-solid fa-bed"></i><p>Rooms</p></div>
    <div class="filter"><i class="fa-solid fa-umbrella-beach"></i><p>Beach</p></div>
    <div class="filter"><i class="fa-solid fa-mountain-sun"></i><p>Mountains</p></div>
    <div class="filter"><i class="fa-solid fa-tree"></i><p>Cabins</p></div>
    <div class="filter"><i class="fa-solid fa-city"></i><p>City</p></div>
    <div class="filter"><i class="fa-solid fa-campground"></i><p>Camping</p></div>
    <div class="filter"><i class="fa-solid fa-person-swimming"></i><p>Pools</p></div>
    <div class="filter"><i class="fa-solid fa-dog"></i><p>Pet Friendly</p></div>
    <div class="filter"><i class="fa-solid fa-house-chimney"></i><p>Villas</p></div>
    <div class="filter"><i class="fa-solid fa-chess-rook"></i><p>Castles</p></div>
    <div class="filter"><i class="fa-solid fa-van-shuttle"></i><p>Tiny Homes</p></div>
  </div>
  <button class="scroll-btn right-btn d-none d-md-flex">&raquo;</button>


  <div class="tax-toggle">
    <div class="form-check form-switch mb-0">
      <input class="form-check-input" type="checkbox" id="featuredSwitch">
      <label class="form-check-label" for="featuredSwitch">Display Taxes</label>
    </div>
  </div>
</div>


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4 mb-3">
    <% if (allListings && allListings.length > 0) { %>
      <% for (let listing of allListings) { %>
        <div class="col">
          <div class="card h-100 shadow-sm listing-card">
            <a href="/listings/<%= listing._id %>">
              <img
                src="<%= listing.image.url || '/images/default.jpg' %>"
                class="card-img-top"
                alt="listing image"
              />
            </a>
            <div class="card-body">
              <p class="card-text">
                <b><%= listing.title %></b> <br>
                ₹<%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/day
                <i class="tax-info" style="display: none;">&nbsp;&nbsp;+18 % GST</i>
              </p>
            </div>
          </div>
        </div>
      <% } %>
    <% } else { %>
      <div class="col-12 text-center">
        <p>No listings found at this time.</p>
      </div>
    <% } %>
  </div>
</div>