<% layout("/layouts/boilerplate") %>

<div class="container mt-4">
  <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
  <div class="col-8 offset-1">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
          <div class="mb-3">
        <label for="username" class="form-label">Username</label>
 <input 
  class="form-control"
  type="text" 
  id="username"
  name="username"
  required>

        <div class="valid-feedback">Looks good!</div>
      </div>
           <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input 
        class="form-control"
         type="text" 
         id="email"
          name="email"
         required>
      </div>
           <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input 
        class="form-control"
         type="password" 
         id="password"
          name="password"
         required
         />
      </div>
      <div>

      </div >
      <button class="btn btn-success">Signup</button>
    </form>
</div>
</div>
